{% extends 'main_app/base.html' %}

{% load static %}

{% block content %}

	{% for companyData in companyDetails %}

      <div class="owl-stage owl-carousel owl-theme top-centered-nav" style="margin-top: 10% !important;">

         {% for slider in sliders %}

            <div class="col-md-12 hover-opacity">
               <!-- image -->
               <img src="{{slider.image.url}}" class="img-fluid rounded main-slider-img" alt="{{slider.title}}">
               <div class="call-title">
                  <!-- call-info -->
                  <div class="call-info text-center">
                     <p class="subtitle text-light">{{slider.sub_title}}</p>
                     <h3 class="text-light">{{slider.title}}</h3>
                  </div>
               </div>
            </div>

         {% endfor %}

      </div>

      <!-- section -->
      <section id="about-home" class="overlay-light">
         <div class="container">
            <!-- section heading -->  
           <!--  <div class="section-heading text-center">
               <p class="subtitle">Get to know us</p>
               <h2>About us</h2>
            </div> -->
            <!-- /section-heading -->
            <div class="row">
               <!-- Tabs -->
               <div class="col-md-12">
                  <!-- navigation -->
                  <!-- <nav>
                     <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">Our Mission</a>
                        <a class="nav-item nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab"  aria-selected="false">Our Events</a>
                        <a class="nav-item nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab"  aria-selected="false">Testimonials</a>
                     </div>
                  </nav> -->
                  <!-- tab-content -->
                  <div class="tab-content block-padding" id="nav-tabContent">
                     <div class="tab-pane  fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <!-- row -->
                        <div class="row">
                           <div class="col-lg-5"  data-aos="zoom-out" >
                              <!-- image -->
                              <div class="img-zoom-hover">
                              <img src="{{companyData.director.profile_image.url}}" alt="" class="img-rotate-outline  img-left-absolute img-fluid" >
                            </div>
                            <!-- /img-zoom-hover -->
                         </div>
                         <!-- /col-lg-5 -->
                           <div class="col-lg-7 res-margin">
                              <h3 style="margin-top: 10% !important;">Mot de bienvenue</h3>
                              <!--divider -->
                              <hr class="small-divider left"/>
                              <p>{{companyData.welcome_word | safe}}</p>

                              <div class="card">
                                 <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                       {{companyData.director.first_name}} {{companyData.director.last_name}}, DG d'AMASOT
                                    </a>
                                 </div>
                              </div>

                              <!-- <div class="accordion">
                                 <div class="card">
                                    <div class="card-header">
                                       <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        Mission & Vision
                                       </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent=".accordion">
                                       <div class="card-body">
                                          <p>{{companyData.mission}}</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="card">
                                    <div class="card-header">
                                       <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                       Domaines D'intervention
                                       </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent=".accordion">
                                       <div class="card-body">
                                          <p>{{companyData.values | safe}}</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="card">
                                    <div class="card-header">
                                       <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                          Représentation au Tchad 
                                       </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent=".accordion">
                                       <div class="card-body">
                                          <p>{{companyData.representation | safe}}</p>
                                       </div>
                                    </div>
                                 </div>
                              </div> -->
                              <!-- /accordion -->
                              <!-- Button -->  
                              <a href="{% url 'mainAppNamespace:AboutUsName' %}" class="btn btn-primary mt-4">Lire Plus</a>
                           </div>
                           <!-- /col-lg-6-->
                        </div>
                        <!-- row -->
                     </div>
                     <!-- ./Tab-pane -->
                     <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                        <!-- row -->
                        <div class="row">
                           <div class="col-lg-7">
                              <h3>Adoption Events</h3>
                              <!--divider -->
                              <hr class="small-divider left"/>
                              <p>Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                              <!-- Button -->  
                              <a href="events.html" class="btn btn-secondary mt-2">See all events</a>
                              <h4 class="mt-5">Upcoming events:</h4>
                                     <div class="carousel-2items owl-carousel owl-theme col-md-12">  
                    <!-- event 1 -->     
                  <div class="widget2">
                     <div class="card bg-light" >
                        <div class="card-img">
                           <!-- image event --> 
                           <a href="event-single.html">
                           <img class="card-img-top" src="{% static 'main_app/img/adoption/adoptionsidebar1.jpg' %}" alt="">
                           </a>
                        </div>
                        <div class="card-body text-center">
                           <!-- event info -->  
                           <a href="event-single.html">
                              <h6 class="card-title">NYC Adoption Fair</h6>
                           </a>
                           <ul class="list-unstyled colored-icons">
                              <li><span><i class="fas fa-calendar-alt mr-2"></i>2th February at 4pm</span></li>
                              <li><span><i class="fas fa-map-marker-alt mr-2"></i>Washington Square Park</span></li>
                           </ul>
                           <!-- button -->  
                           <a href="event-single.html" class="btn btn-primary btn-sm mt-0">More info</a>
                        </div>
                        <!--/card-body text-center -->  
                     </div>
                     <!-- /card --> 
                  </div>
                  <!--/widget2 -->
                  <!-- event 2 -->     
                  <div class="widget2">
                     <div class="card bg-light" >
                        <div class="card-img">
                           <!-- image event --> 
                           <a href="event-single.html">
                           <img class="card-img-top" src="{% static 'main_app/img/adoption/adoptionevent2.jpg' %}" alt="">
                           </a>                  
                        </div>
                        <div class="card-body text-center">
                           <!-- event info -->  
                           <a href="event-single.html">
                              <h6 class="card-title">Bronx Adoption Fair</h6>
                           </a>
                           <ul class="list-unstyled colored-icons">
                              <li><span><i class="fas fa-calendar-alt mr-2"></i>12th March at 3pm</span></li>
                              <li><span><i class="fas fa-map-marker-alt mr-2"></i>Bronx Park</span></li>
                           </ul>
                           <!-- button -->  
                           <a href="event-single.html" class="btn btn-primary btn-sm mt-0">More info</a>
                        </div>
                        <!--/card-body text-center -->  
                     </div>
                     <!-- /card --> 
                  </div>
                  <!--/widget2 -->
                  <!-- event 3 -->     
                  <div class="widget2">
                     <div class="card bg-light" >
                        <div class="card-img">
                           <!-- image event --> 
                           <a href="event-single.html">
                           <img class="card-img-top" src="{% static 'main_app/img/adoption/adoptionevent3.jpg' %}" alt="">
                           </a>                  
                        </div>
                        <div class="card-body text-center">
                           <!-- event info -->
                           <a href="event-single.html">
                              <h6 class="card-title">Jersey Adoption Fair</h6>
                           </a>
                           <ul class="list-unstyled colored-icons">
                              <li><span><i class="fas fa-calendar-alt mr-2"></i>8th April at 4pm</span></li>
                              <li><span><i class="fas fa-map-marker-alt mr-2"></i>Liberty State Park</span></li>
                           </ul>
                           <!-- button -->  
                           <a href="event-single.html" class="btn btn-primary btn-sm mt-0">More info</a>
                        </div>
                        <!--/card-body text-center -->  
                     </div>
                     <!-- /card --> 
                  </div>
                  <!--/widget2 -->
            </div>
            <!-- /carousel -->                     </div>
                           <div class="col-lg-5 res-margin">
                              <!-- image -->
                  <div class="img-zoom-hover">
                              <img src="{% static 'main_app/img/abouttab2.jpg' %}" alt="" class="img-rotate-outline img-right-absolute img-fluid">
                            </div>
                  <!-- /img-zoom-hover -->
                 </div>
                 <!-- /col-lg-5 -->
                        </div>
                        <!-- /row -->
                     </div>
                     <!-- ./Tab-pane -->
                     <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                        <!-- row -->
                        <div class="row">
                           <div class="col-lg-7">
                              <h3>Testimonials</h3>
                              <!--divider -->
                              <hr class="small-divider left"/>
                              <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                              <div class="mt-5">
                                 <!-- testimonials -->
                                   <div class="carousel-1item card bg-light owl-carousel owl-theme col-md-12">
                        <!-- testimonial -->
                        <div class="testimonial">
                           <div class="content">
                              <p class="description">
                                 Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.                        
                              </p>
                           </div>
                           <!-- /content -->
                           <div class="testimonial-pic">
                              <img src="{% static 'main_app/img/team/team1.jpg' %}" class="img-fluid" alt="">
                           </div>
                           <!-- /testimonial-pic -->
                           <div class="testimonial-review">
                              <h5 class="testimonial-title">Lucianna Smith</h5>
                              <span>Teacher</span>
                           </div>
                           <!-- /testimonial-review -->
                        </div>
                        <!-- /testimonial -->
                        <!-- testimonial -->
                        <div class="testimonial">
                           <div class="content">
                              <p class="description">
                                 Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.                        
                              </p>
                           </div>
                           <!-- /content -->
                           <div class="testimonial-pic">
                              <img src="{% static 'main_app/img/team/team2.jpg' %}" class="img-fluid" alt="">
                           </div>
                           <!-- /testimonial-pic -->
                           <div class="testimonial-review">
                              <h5 class="testimonial-title">John Sadana</h5>
                              <span>Doctor</span>
                           </div>
                           <!-- /testimonial-review -->
                        </div>
                        <!-- /testimonial -->
                        <!-- testimonial -->
                        <div class="testimonial">
                           <div class="content">
                              <p class="description">
                                 Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.                        
                              </p>
                           </div>
                           <!-- /content -->
                           <div class="testimonial-pic">
                              <img src="{% static 'main_app/img/team/team3.jpg' %}" class="img-fluid" alt="">
                           </div>
                           <!-- /testimonial-pic -->
                           <div class="testimonial-review">
                              <h5 class="testimonial-title">Jane Janeth</h5>
                              <span>Librarian</span>
                           </div>
                           <!-- /testimonial-review -->
                        </div>
                        <!-- /testimonial -->
                     </div>
                     <!-- /owl-testimonial -->                        </div>
                           </div>
                           <div class="col-lg-5 res-margin">
                              <!-- image -->
                  <div class="img-zoom-hover">
                              <img src="{% static 'main_app/img/abouttab3.jpg' %}" alt="" class="img-rotate-outline  img-right-absolute img-fluid">
                           </div>
                  <!-- /img-zoom-hover -->
                 </div>
                 <!-- /col-lg-5 -->
                        </div>
                <!-- /row -->
                     </div>
                     <!-- ./Tab-pane -->
                  </div>
                  <!-- ./Tab-content -->
               </div>
               <!-- col-md-12 -->
            </div>
            <!-- /row -->
         </div>
         <!-- /container-->
      </section>
      <!-- /section ends -->


      <!-- ==== Page Content ==== -->
      <!-- section -->
      <!-- <section id="intro-home" class="container-fluid bg-light pattern4-right">
         <div class="container">
            <div class="row">
               <div class="col-lg-9">
                  <h3>Quality & Experience </h3>
                  <p>Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
               </div>
               <div class="col-lg-3 justify-content-center align-self-center">
                  <a href="contact.html" class="btn btn-secondary"  data-aos="zoom-out">Contact us</a>
               </div>
            </div>
         </div>
      </section> -->
      <!-- /section ends -->

      <!-- /section--><!-- section -->
      <section id="services-home" class="container">
         <div class="container">
            <div class="row">
               <h2 style="font-size: 2.1rem !important;">Nos Domaines D'intervention</h2>
               <!-- services carousel -->
               <div class="carousel-3items owl-carousel owl-theme container res-margin">  

                  {% for service in ourServicesList %}   

                     <!-- service-box 1 -->
                     <div class="serviceBox1 bg-primary pattern3">
                        <div class="service-content bg-light">
                           <!-- image -->
                           <div class="service-icon">
                              <img src="{{service.image.url}}" class="img-fluid rounded-circle" alt=""/>
                           </div>
                           <!-- title -->
                           <h3 class="title"><a href="{% url 'mainAppNamespace:ServiceDetailsName' service_slug=service.slug %}">{{service.title}}</a></h3>
                           <!-- /description -->
                           <p class="description">
                              {{service.short_description}} ...
                           </p>
                           <!-- /description -->
                        </div>
                        <!-- button -->
                        <div class="text-center">
                           <a class="btn btn-secondary" href="{% url 'mainAppNamespace:ServiceDetailsName' service_slug=service.slug %}">Lire Plus</a>
                        </div>
                     </div>
                     <!-- /serviceBox-->

                  {% endfor %}

               </div>
               <!-- /owl-carousel --> 
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </section>
      <!-- /section ends -->

      <!-- section -->
      <section id="our-products" class="overlay-light" style="margin-top: -70px !important;">
         <div class="container">
            <!-- /section-heading -->
            <div class="row">

               <h2 style="font-family: Montserrat !important; font-size: 2.1rem !important; margin-top: -40px !important;">Nos produits</h2>

               <div class="col-lg-12 res-margin">
                  <!-- team carousel -->  
                  <div class="col-md-12 carousel-4items owl-carousel owl-theme">

                     {% for product in ourProductsList %}

                        <!-- Team member 1 -->
                        <div class="team-style2 col-lg-12 product" style="height: 350px !important;">
                           <!-- image and social icons -->
                           <div class="img-box">
                              <div class="text-center">
                                 <img src="{{product.image.url}}" class="img-fluid" alt="" style="height: 190px !important;">
                                 <!-- <ul class="social-icons text-center">
                                    <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-linkedin"></i></a></li>
                                 </ul> -->
                              </div>
                           </div>
                           <!-- Team header -->
                           <a href="{% url 'mainAppNamespace:OpportunityName' opportunity_slug=product.slug %}">
                              <h5 class="team-header" style="font-size: 1rem !important; line-height: 1.6 !important; padding: 10px !important;">{{product.title}}</h5>
                           </a>
                           <span>{{product.price}}<br/></span>
                           <!-- <hr class="small-divider left"/>
                           <p>Id fermentum augue, ut pellen tesque leo nas. Maecenas at arcu risus Donec com modo.</p> -->
                        </div>
                        <!--/ Team member 1 -->

                     {% endfor %}

                  </div>
                   <!--/col-md-12 -->
            </div>

            </div>
            <!-- /row -->
         </div>
         <!-- /container-->
      </section>
      <!-- /section ends -->

      <!-- section -->
      <section id="adoption-home" class="container-fluid pl-0 pr-0 overlay-dark bg-fixed">
         <div class="container">
            <div class="col-lg-10 offset-lg-1 text-center text-light">
               <h3> News </h3>
               <!-- <p class="h7">Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p> -->
            </div>
            <!-- /col-lg -->
            <!-- Carousel  -->
            <div class="col-md-12 carousel-2items owl-carousel owl-theme">

               {% for news in latestNews %}

                  <!-- Adopt 1 -->
                  <div class="adopt-card res-margin row bg-light pattern2">
                     <div class="col-md-5">
                        <!-- Image -->
                        <div class="adopt-image d-flex flex-wrap align-items-center ">
                           <a href="{% url 'mainAppNamespace:NewsDetailsName' news_slug=news.slug %}">
                           <img src="{{news.image.url}}" class="img-fluid" alt="{{news.title}}">
                           </a>
                        </div>
                     </div>
                     <div class="col-md-7 res-margin">
                        <!-- Name -->
                        <div class="caption-adoption">
                           <h5 class="adoption-header" style="font-size: 1.1rem !important; margin-top: -0px !important;"><a href="{% url 'mainAppNamespace:NewsDetailsName' news_slug=news.slug %}">{{news.title}}</a></h5>
                           <!-- List -->
                           <ul class="list-unstyled">
                              {% if news.posted_by.first_name == None or news.posted_by.first_name == 'None' or news.posted_by.first_name == none or news.posted_by.first_name == 'none' or news.posted_by.first_name == '' %}
                              {% else %}
                                 <li><strong>Par:</strong> {{news.posted_by.first_name}} {{news.posted_by.last_name}}</li>
                              {% endif %}
                              <li><strong>Date:</strong> {{news.posted_on_date_time}}</li>
                              <!-- <li><strong>Category:</strong> {{news.posted_on_date_time.posted_on_date_time}}</li> -->
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-12 mt-3">
                        <!-- Button --> 
                        <div class="text-center">
                           <!-- Adopt info -->                           
                           <ul class="adopt-card-info list-unstyled" style="font-weight: normal !important;">
                              {{news.short_description}}
                              <!-- <li ><i class="flaticon-veterinarian-hospital"></i>special needs</li>
                              <li ><i class="flaticon-dog-4"></i>Friendly to other pets</li> -->
                           </ul>
                           <!-- button-->
                           <a href="{% url 'mainAppNamespace:NewsDetailsName' news_slug=news.slug %}" class="btn btn-primary">Lire Plus</a>
                        </div>
                        <!-- /text-center -->
                     </div>
                     <!-- /col-md -->
                  </div>
                  <!-- /adopt-card -->

               {% endfor %}

            </div>
            <!-- /carousel --> 
            <div class="col-lg-12 text-center">
               <!-- button --> 
               <a href="{% url 'mainAppNamespace:NewsName' %}" class="btn btn-secondary mt-3">Plus de news </a>
            </div>
            <!-- /col-lg -->
         </div>
         <!-- /container-->
      </section>
      <!-- /section ends -->
      <!-- section --> 
      <section id="feature-section" class="bg-light pattern1">
         <div class="container">
            <h2 style="font-size: 2.1rem !important; text-align: center !important; margin-bottom: 40px !important;">Nos Activités</h2>
            <!-- features -->
      <div class="row text-lg-right">
         <div class="col-md-6 col-lg-3">
            <!-- feature -->
            <div class="feature-with-icon">
               <h5 style="font-size: 1rem !important;"><strong> Communication pour le Changement de Comportement (CCC)</strong></h5>
               <ol>
                  <li>Communication Interpersonnelle (CIP)</li>
                  <li>Animation de masse avec Unité Vidéo Mobile (UVM) </li>
                  <li>Communication à travers les Médias de masse </li>
                  <li>Réalisation et diffusion des émissions Radio et Tél
                  é (100 % jeunes etc.) </li>
                  <li>Réalisation et production d’un magazine (100 % jeun
                  e) </li>
                  <li>Réalisation et diffusion de spots, microprogramme, 
                   jeux concours radio et Télé </li>
                  <li>Panneaux routiers 4x3m </li>
                  <li>Production et diffusion desupports imprimés(déplian
                  ts, brochures, bandes dessinées etc.</li>
               </ol>
            </div>
            <!-- /feature-with-icon-->
         </div>
         <div class="col-md-6 col-lg-3 text-left pt-3 pt-sm-0 order-lg-12">
            <!-- feature -->
            <div class="feature-with-icon">
               <h5 style="font-size: 1rem !important;"><strong>Promotion et vente des produits de marketing social</strong></h5>
               <ol>
                  <li>Condom masculin Prudence </li>
                  <li>Condom féminin  Sécurité Plus (Marge régionale) </li>
                  <li>Sel de Réhydratation Oral AMASEL </li>
                  <li>Moustiquaires imprégnées SANGUE DAWA </li>
                  <li>Journal 100 % jeune </li>
               </ol>
            </div>
            <!-- /feature-with-icon-->            
            <!-- feature -->
            <div class="feature-with-icon">
               <h5 style="font-size: 1rem !important;"><strong>Promotion et vente des produits de marketing social</strong></h5>
               <ol> 
                  <li>Condom masculin Prudence</li>
                  <li>Condom féminin  Sécurité Plus (Marge régionale) </li>
                  <li>Sel de Réhydratation Oral AMASEL </li>
                  <li>Moustiquaires imprégnées SANGUE DAWA </li>
                  <li>Journal 100 % jeune </li>
               </ol>
            </div>
            <!-- /feature-with-icon-->
         </div>
         <!-- /col-l -->
         <div class="text-center col-lg-5 mx-auto mt-3">
            <!--image  -->
            <img alt="" class="img-fluid rounded" src="{% static 'main_app/img/features.jpg' %}" data-aos="flip-right">
            <br/><br/>
            <!-- feature -->
            <div class="feature-with-icon">
               <h5 style="font-size: 1rem !important;"><strong>Prestation de service en dépistage du VIH </strong></h5>
               <ol>
                  <li>Stratégie fixe au CDV de AMASOT </li>
                  <li>Stratégie avancée </li>
               </ol>
            </div>
            <!-- /feature-with-icon-->
         </div>
         <!-- col-lg-7  -->
      </div>
      <!-- /row-->
         </div>
         <!-- /container -->
      </section>
      <!-- /section ends -->

      <!-- Section  -->
      <!-- <section id="counter-section" class="container-fluid counter-calltoaction bg-fixed overlay">
         <div id="counter" class="container">
            <div  class="row col-lg-10 offset-lg-1">
               <div class="col-xl-3 col-md-6">
                  <div class="counter">
                     <i class="counter-icon flaticon-dog-in-front-of-a-man"></i>
                     <div class="counter-value" data-count="14">0</div>
                     <h3 class="title">Professionals</h3>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6">
                  <div class="counter">
                     <i class="counter-icon flaticon-dog-2"></i>
                     <div class="counter-value" data-count="100">0</div>
                     <h3 class="title">Adopted Pets</h3>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6">
                  <div class="counter">
                     <i class="counter-icon flaticon-prize-badge-with-paw-print"></i>
                     <div class="counter-value" data-count="12">0</div>
                     <h3 class="title">Awards</h3>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6">
                  <div class="counter">
                     <i class="counter-icon flaticon-dog-18"></i>
               <div class="counter-value" data-count="1200">0</div>
                     <h3 class="title">Clients</h3>
                  </div>
               </div>
            </div>
         </div>
      </section> -->
      <!-- /section ends-->

      <!-- section -->
      <section id="our-products" class="overlay-light" style="margin-top: -70px !important;">
         <div class="container">
            <!-- /section-heading -->
            <div class="row">

               <h2 style="font-family: Montserrat !important; font-size: 2.1rem !important; margin-top: -40px !important;">Nos partenaires</h2>

               <div class="col-lg-12 res-margin">
                  <!-- team carousel -->  
                  <div class="col-md-12 carousel-4items owl-carousel owl-theme">

                     {% for partner in ourPartnersList %}

                        <!-- Team member 1 -->
                        <div class="team-style2 col-lg-12">
                           <!-- image and social icons -->
                           <div class="img-box">
                              <div class="text-center">
                                 <img src="{{partner.company_logo.url}}" class="img-fluid" alt="">
                              </div>
                           </div>
                           <!-- Team header -->
                           <!-- <a href="">
                              <h5 class="team-header" style="font-size: 1rem !important; line-height: 1.6 !important; padding: 10px !important;">{{product.title}}</h5>
                           </a>
                           <span>{{product.price}}<br/></span> -->
                        </div>

                     {% endfor %}

                  </div>
                   <!--/col-md-12 -->
            </div>

            </div>
            <!-- /row -->
         </div>
         <!-- /container-->
      </section>
      <!-- /section ends -->


	{% endfor %}

{% endblock %}