{% extends 'main_app/base.html' %}

{% load staticfiles %}

{% block content %}

	{% for companyData in companyDetails %}

			<!-- Theme Inner Banner ____________________________ -->
			<section>
				<div class="Theme-Inner-Banner inner-banner-bg-img-one">
					<div class="banner-opacity">
						<div class="container">
							<div class="banner-content">
								<h1>Devevnir Un Volontaire</h1>
								<p>Merci de vouloir être un(e) des notres.</p>
								<ul>
									<li><a href="{% url 'mainAppNamespace:HomeName' %}">Accueil</a></li>
									<li><span>-</span></li>
									<li><a href="#"> Devevnir Un Volontaire </a></li>
								</ul>
							</div> <!-- /.banner-content -->
						</div> <!-- /.container -->
					</div> <!-- /.banner-opacity -->
				</div> <!-- /.Theme-Inner-Banner -->
			</section>

			<!-- Join Volunteer ____________________________ -->
			<section class="Join-Volunteer-Pages">
				<div class="container">
					<div class="Theme-title text-center">
						<h2> Devevnir Un Volontaire </h2>
						<h6> Rejoignez-nous </h6>
					</div>
					<form action="" method="post">
                    {% csrf_token %}
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="single-input">
									<input type="text" placeholder=" Votre expertise *" name="expertise" required="">
								</div> <!-- /.single-input -->
							</div> <!-- /.col -->

							<div class="col-xs-12">
								<div class="single-textarea">
									<textarea placeholder="Avez-vous un message? ...." name="message" required=""></textarea>
								</div> <!-- /.single-textarea -->
							</div> <!-- /.col -->
						</div> <!-- /.row -->
						<button class="hvr-float-shadow">Envoyer</button>
						<br/><br/>
					</form> <!-- /Form -->
				</div> <!-- /.container -->
			</section> <!-- /.Join-Volunteer-Pages -->
			
	{% endfor %}
	
{% endblock %}
